*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  background-color: #1F2937;
  padding:20px 20px;
  justify-content: space-around;
}

ul, li, a {
  display: flex;
  color: white;
  gap: 30px;
  text-decoration: none;
}

h3{
  color: white;
}

main{
  display: flex;
 background-color: #1F2937;
 color: white;
 padding: 45px 40px;
 justify-content: center;
}

.aside{
  padding: 20px;
  margin: 0px 20px;
  width:500px;
  
}

button{
background-color: rgb(50, 69, 244);
font-size: 20px;
border-radius: 5px;
padding: 4px 18px;
color: white;
border: none;
}

.hero-pic{

  margin-left: 80px;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.cards{
display: flex;
justify-content: center;
padding: 30px 20px;
gap: 40px;
flex-wrap: wrap;
}

.info{
  text-align: center;
  padding-top: 30px;
}

.content{
  width: 200px;
  height: auto;
  gap: 20px;
}



.quote{
  box-sizing: border-box;
  display: flex;
  width: 100%;
  background-color: dimgray;
  justify-content: center;
  font-size: 30px;
  height: 500px;
  align-items: center;
}

.quote, h2{
  gap: 20px;

}


.p-box{
  width: 500px;
  position: relative;
}



.call-container{
  display: flex;
  background-color: skyblue;
  width: 800px;
  padding: 40px;
  border-radius: 10px;
}
 
.call-container,.sign-up{
  display: flex;
  justify-content: space-around;
}

.sign-up button{
  background-color: none;
  border:2px solid white;
  border-radius: 8px;
}


.p-box span{
  position: absolute;
  bottom: 0.1px;
  right: 10px;
margin: -20px;
font-weight: bold;
}
