*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  background-color: #1F2937;
  padding:20px 20px;
  justify-content: space-around;
}

ul, li, a {
  display: flex;
  color: #E5E7EB;
  gap: 30px;
  text-decoration: none;
  font-size: 18px;
}

.logo{
  font-size: 24px;
  color: #F9FAF8;
}

h3{
  color: white;
}

h1{
  font-size: 48px;
}

main{
  display: flex;
  background-color: #1F2937;
  color: white;
  padding: 45px 80px;
  justify-content: space-around;

}

.aside{
  padding: 20px;
  width:500px;
  line-height: 40px;
  
}

button{
background-color: rgb(50, 69, 244);
font-size: 20px;
border-radius: 5px;
padding: 4px 18px;
color: white;
border: none;
}

.hero-pic{
  border: 5px solid blue;
  padding: 10px 15px;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.cards{
display: flex;
justify-content: center;
padding: 30px 20px;
gap: 40px;
flex-wrap: wrap;
}

.info{
  text-align: center;
  padding-top: 30px;
}

.content{
  width: 200px;
  height: auto;
  gap: 20px;
}



.quote{
  box-sizing: border-box;
  display: flex;
  width: 100%;
  background-color: #E5E7EB;
  justify-content: center;
  font-size: 36px;
  font-weight:lighter;
  height: 500px;
  align-items: center;
  color: #1F2937;
}

.quote, h2{
  gap: 20px;
  font-size: 36px;
  color: #1F2937;

}


.p-box{
  max-width: 600px;
  position: relative;
}

.p-box span{
  position: absolute;
  bottom: 0.1px;
  left: 450px;
margin: -40px;
font-weight:bold;
}


.call-container{
  display: flex;
  background-color: #3882F6;
  width: 800px;
  padding: 40px;
  border-radius: 10px;
  color: white;
  
}
 
.call-container,.sign-up{
  display: flex;
  justify-content: space-around;
  
}

.call-container h2{
  color: white;
  
}

.sign-up button{
  background-color: #3882F6;
  border:2px solid white;
  border-radius: 8px;
}





.footer{
  box-sizing: border-box;
  background-color: dimgray;
  width: 100%;
  color:white;
  text-align: center;
  padding: 20px;
 

}
